<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--DEV-->
    <add name="Entities" providerName="System.Data.SqlClient" connectionString="Server=STEPHANPC;Database=dbBoleto;Trusted_Connection=True;"/>
    <!--HOMOL-->
    <!--<add name="Entities" providerName="System.Data.SqlClient" connectionString="Server=1.3.0.5,1220;Database=dbBoleto;User Id=myUser;Password=myPassword;" />-->
    <!--PRODUÇÃO-->
    <!--<add name="Entities" providerName="System.Data.SqlClient" connectionString="Server=1.2.9.0,1221;Database=dbBoleto;User Id=myUser;Password=myPassword;" />-->
  </connectionStrings>
  <appSettings>
    <add key="LogFolder" value="C:\Log\Boleto"/>
    <!--HOMOL-->
    <add key="URL_BRADESCO" value="https://homolog.meiosdepagamentobradesco.com.br/apiboleto/transacao"/>
    <add key="MerchantId" value="123456789"/>
    <add key="ChaveSeguranca" value="xxxx"/>
    <!--PROD-->
    <!--<add key="URL_BRADESCO" value="https://meiosdepagamentobradesco.com.br/apiboleto/transacao"/>-->
    <!--<add key="MerchantId" value="10000"/>-->
    <!--<add key="ChaveSeguranca" value="???"/>-->
    <!-- 
      FILTRO DE IP
      Separar por vírgula
      Para máscaras, utilizar {range};{máscara}
      -->
    <add key="AllowedAdminSingleIPs" value="*"/>
    <add key="AllowedAdminMaskedIPs" value="*"/>
    <add key="DeniedAdminSingleIPs" value=""/>
    <add key="DeniedAdminMaskedIPs" value=""/>
  </appSettings>

</configuration>